/*Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*Geral*/
:root{
    --vermelho: #E50914;
    --preta: #141414;
}

body{
    background: var(--preta);
    font-family: Arial, 'Times New Roman', Times, serif;
    color: white;
}


/*Conteúdo*/
.container{
    margin-left: 20px;
}

header .container{
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .logo{
    color: var(--vermelho);
    font-family: 'Arial Black';
    font-size: 40px;
    margin-left: 5px;
}
header nav a{
    text-decoration: none;
    color: #aaa;
    margin-right: 10px;
}
header nav a:hover{
    color: #fff;
}

/*filme principal*/
.filme-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url(/imgs/tsl4.png);
    background-position: center;
    height: 480px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.filme-principal .descricao{
    margin-bottom: 40px;
    margin-top: 10px;
}

.titulo{
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS';
}

.botao{
    background-color: rgba(0, 0, 0, .50);
    border: none;
    color: white;
    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;
    cursor: pointer;
    transition: .3s ease all;
}
.botao:hover{
    background-color: white;
    color: black;
}
.botao p{
    display: inline;
    font-size: 18px;
}
#play{
    width: 2vh;
    height: 2vh;
    margin-right: 5px;
}

.filme-principal .container{
    width: 80%;
}


.box-filme{
    height: 100%;
    width: 100%;
    display: block;
}

.carrosel-filmes{
    margin-top: 5px;
}